* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background-color: lavender !important;
    color: rgb(18, 18, 20);
}

.header {
    display: flex;
    justify-content: space-between;
}

.myName {
    padding-top: 2rem;
    padding-left:2rem;
    font-size: 19px;
}

.navName {
    padding: 2rem;
    font-size: 19px;
    float: left;
}

.nav {
    display: flex;
    justify-content: flex-end !important;
    float: right;
    border-bottom: none !important;
}

a {
    text-decoration: none;
    color: rgb(18, 18, 20) !important;
    gap: 3rem !important;
    padding: 2rem !important;
    font-size: 19px !important;
}

h1 {
    padding-right: 3rem;
    padding-left: 3rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

h1::after {
    content: "";
    display: block; 
    height: .3rem;
    width: 10rem;
    background-color: rgb(227, 137, 185);
}

.aboutMe {
    padding-right: 20rem;
    padding-left: 3rem;
    font-size: 19px;
}

.quote {
    color: rgb(227, 137, 185);
}

.avatar {
    float: right;
    max-width: 300px;
    padding-bottom: 3rem;
}

.downloadButton {
    display: flex;
    justify-content: center;
}

.form {
    padding-left: 3rem;
    padding-right: 3rem;
}

.message {
    height: 5rem;
}

.submitButton {
    display: flex;
    justify-content: center;
}

.card {
    /* width: 18rem !important; */
    background-color: lavender;
}

.card-text {
    white-space: normal !important;
}
 
.projectImage {
    width: 10rem;
}